<h1>歡迎申請兌換卷</h1>

<% if @coupon.errors.any? %>
  <ul>
  <% @coupon.errors.messages.values.each do |message| %>
    <li><%= message[0] %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(@coupon ,url: coupon_path) do |f| %>
  <div >
    <%= f.label :name, "姓名" %>
    <%= f.text_field :name %>
  </div>

  <div >
    <%= f.label :twid, "身分證字號" %>
    <%= f.text_field :twid %>
  </div>

  <div >
    <%= f.label :phone, "手機號碼" %>
    <%= f.text_field :phone %>
  </div>

  <%= f.submit "送出" %>
<% end %>